@import "~bootstrap/scss/bootstrap", "./variables";


body{
    background-color: #ffffff;
}

.modal-title{
    text-align: center;
}
.modal-actions{
    justify-content: center!important;
}